pywebview
fastapi
gunicorn
pydantic
python-multipart
llama-index
transformers
torch
PyPDF2
pdf2image
pytesseract
pandas
Pillow
llama-index-llms-gemini
llama-index-embeddings-huggingface
Flask
Werkzeug
flask_cors

