fastapi
uvicorn
pydantic
python-multipart
transformers
torch
PyPDF2
pdf2image
pytesseract
pandas
Pillow
langchain
langchain-community
langchain-google-genai
langchain-huggingface
redis
Werkzeug
unstructured
pdfminer.six
nltk
python-magic
python-magic-bin

